<include file="Public/Home/header.html"/>

        <div class="mainBox fcc">
            <div class="adtop">
                <h2>联系我们</h2>
            </div>
            <div class="section_box">
                <div class="classifybox">
                    <ul class="addressul">
                        <li>电话：{:get_opinion('telephone','option_value')}</li>
                        <li>手机1：{:get_opinion('phone1','option_value')}</li>
                        <li>手机2：{:get_opinion('phone2','option_value')}</li>
                        <li>地址：{:get_opinion('address','option_value')}</li>
                    </ul>
                </div>
            </div>
        </div>
<script>
</script>
<include file="Public/Home/footer.html"/>